<%- include('../admin/layouts/header.ejs') %>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row"></div>
            <div class="row">

            </div>
            <h2 class="text-center text-light">Sales Analysis Report</h2>

            <div class="row mt-4">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">

                        <div class="card-body">
                            <h4 class="card-title">Sales Portfolio</h4>
                            <div class="table-responsive" style="height: 250px;">
                                <table class="table" >
                                    <thead>
                                        <tr>
                                            <th>Book name  </th>
                                            <th>Total Products Sold  </th>
                                            <th>Total Sales amount</th>
                                            <th>Profit</th>
                                        </tr>
                                        <% salesReport.forEach(salesReport => { %>
                                         
                                        
                                        <tr>
                                            <td><%= salesReport.productName  %></td>
                                            <td><%= salesReport.totalQuantity  %></td>
                                            <td>&euro; <%= salesReport.totalPrice  %></td>
                                            <td>&euro; <%= salesReport.profit  %></td>
                                        </tr>
                                        <% }) %>
                                    </thead>
                                </table>
                            </div>
                            <!-- <canvas id="areaChart" style="height: 250px;"></canvas> -->
                            <div class="col-10 mt-3">
                                <button onclick="SalesPortfolio('week')" class="btn btn-sm btn-outline-info">Weekly</button>
                                <button onclick="SalesPortfolio('month')" class="btn btn-sm btn-outline-info">Monthly</button>
                                <button onclick="SalesPortfolio('year')" class="btn btn-sm btn-outline-info">Yearly</button>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Most sold products</h4>
                            <!-- <canvas id="barChart" style="height:230px"></canvas>
                            <div style="display: none;">
                                <%if(products!==0){%>
                                <input id="product1" value="<%=products[0].productName %>">
                                <input id="product12" value="<%=products[0].totalQuantity %>">

                                <input id="product2" value="<%=products[1].productName %>">
                                <input id="product22" value="<%=products[1].totalQuantity  %>">

                                <input id="product3" value="<%=products[2].productName %>">
                                <input id="product32" value="<%=products[2].totalQuantity  %>">

                                <input id="product4" value="<%=products[3].productName %>">
                                <input id="product42" value="<%=products[3].totalQuantity  %>">

                                <input id="product5" value="<%=products[0].productName %>">
                                <input id="product52" value="<%=products[0].totalQuantity  %>">

                                <input id="product6" value="<%=products[2].productName %>">
                                <input id="product62" value="<%=products[2].totalQuantity  %>">
                                <%}%>

                            </div> -->
                            <div class="table">
                                <table class="table-responsive">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Total Sale</th>
                                    </tr>
                                    <% products.forEach(product => { %>
                                     <tr>
                                        <td><%=product.productName %></td>
                                        <td><%=product.totalQuantity %></td>
                                     </tr>
                                    <% }) %>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="mx-auto">Filter Report :</p>
                <div class="form-group row  col-12 w-100 d-flex justify-content-between">
                    <div class="col-3 ">
                        <h3>Total Profit :<%= sales.totalSales%>
                        </h3>
                    </div>
                    <div class=" col-3 d-flex flex-column ">
                        <form class="d-flex flex-column" action="/admin/sales" method="get">
                        <h2 class="mdi mdi-calendar-clock"></h2>
                        <input type="date" autocomplete="off" id="start-date" class="form-control text-light m-1 " name="start" placeholder="From"  required>
                        <input type="date" autocomplete="off" id="end-date" class="form-control text-light m-1 " name="end" placeholder="To" required>
                        <button type="submit" class="btn btn-inverse-primary m-2">Filter</button>
                        </form>
                    </div>
                    

                </div>
            </div>


            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sold Stocks</h4>
                            <%if(sales!==0){%>
                            <%for(i=0;i<sales.totalStockSold.length;i++){%>
                            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                                <div class="text-md-center text-xl-left">
                                    <h6 class="mb-1"><%=sales.totalStockSold[i].name%> </h6>
                                    <p class="text-muted mb-0">Frame Shape : <%=sales.totalStockSold[i].shape%></p>
                                </div>
                                <div
                                                                                                                                                                                                                                                                                               class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                    <h6 class="font-weight-bold mb-0"> <%=sales.totalStockSold[i].quantity%> Stock</h6>
                                </div>
                            </div>
                            <%}%>
                            <%}else{%>
                                <h6 class="text-center text-light mt-5">No Stock Solid</h6>
                            <%}%>

                        </div>
                    </div>

                </div>

                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="card-title mb-1">product wise profitability analysis</h4>
                                <div class="dropdown mt-2">
                                    <button type="button" class="btn btn-inverse-info dropdown-toggle" id="dropdownMenuIconButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="mdi mdi-download"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton9" >
                                      <h6 class="dropdown-header">Download Report</h6>
                                      <a class="dropdown-item text-white" id="excelDownload" >Excel file</a>
                                      <a class="dropdown-item text-white" id="pdfDownload"  >PDF File</a>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive card">
                                    <%if(sales!==0){%>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Product</th>
                                                <th>Profit</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for(i=0;i<sales.productProfits.length;i++){%>
                                                <tr>
                                                    <!-- list -->
                                                    <td>
                                                        <img class="rounded product-img-preview" src="/products/images/<%= sales.productProfits[i].image %>"
                                                                                                                                                                                                                                                                                                                       alt="image" />
                                                    </td>
                                                    <td>
                                                        <%=sales.productProfits[i].name%>
                                                    </td>
                                                    <td>
                                                        <%=sales.productProfits[i].profit%>
                                                    </td>

                                                </tr>
                                                <%}%>
                                                
                                        </tbody>
                                    </table>
                                    <%}else{%>
                                        <h6 class="text-center text-light mt-5">No Stock Profits</h6>
                                    <%}%>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <!-- <input type="text" autocomplete="off" id="start-date" class="form-control text-light" name="validFrom" placeholder="Select Starting Date"required>
            <input type="text" autocomplete="off" id="end-date" class="form-control text-light" name="validTo" placeholder="Select Expiring Date" required> -->





        </div>
    </div>
    <script>
        // function SoledProduct(){
        // //    alert("called 2nd")
        // }


        // function runLoad(){
        //     SalesPortfolio("week")
        //     SoledProduct()
        // }
            

        // window.onload = runLoad
        //  function SalesPortfolio(data){
        //     $.ajax({
        //             url:"/admin/sales-report/portfolio",
        //             method:"POST",
        //             data:{date:data},
        //             success:(response)=>{
        //                 portfolioDataInsert(response,data)
                        
        //             }
        //         })
        //     }


    </script>

    <script>
        

           


          


            // fileDownloadPathsettings();
            const excelDownload = document.getElementById("excelDownload");
           
              excelDownload.href = `/admin/sales/excel-report`;
              


       
       


        

        

    </script>
    <%- include('../admin/layouts/footer.ejs') %>


    