<%- include('../user/layouts/header.ejs') %>
    <%- include('../user/layouts/navbar.ejs') %>



        <main class="main">
            <!-- header with background image -->
            <div class="page-header text-center" style="background-image: url('/user/images/background.png')">
                <div class="container">
                    <h1 class="page-title text-white">Checkout</h1>
                </div>
            </div>
            
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item " aria-current="page">Shopping Cart</li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>

                    </ol>
                </div>
            </nav>
            <!-- flash message container  -->
            <div class="mb-5 ">
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <% if (success && success.length>0) { %>
                            <div id="flashMessage" class="alert alert-success"><%= success %></div>
                        <% } %>
                    </li>
                </ul>
            </div>

            <!-- main page content  -->
            <div class="page-content ">
                <div class="cart mb-5">
                    <div class="container">
                        <div class="row">

                            <!-- left side contains address and payment selction  -->
                            <div class="col-lg-9 cart-item-box">
                                <h5 class="text-dark mb-3">1.Shipping Address &nbsp;  </h5>

                                <% if(address!=0){%>
                                    <form action="/home/cart/orders" method="post">
                                    <% for(i=address.length-1;i>=0;i--) {%>

                                            <label class="p-3 border rounded-4 m-2 custom-label">
                                                <div class="form-check d-flex align-items-center mx-4">
                                                    <input class="form-check-input " type="radio" value="<%=address[i]._id %>"
                                                        <%= address.default_address == true ? 'checked' : '' %>
                                                        name="address" id="Radio<%=address[i]._id %>" 
                                                        <%if(i==address.length-1){ %> checked <%}%>
                                                        onclick="hideAddress()" 
                                                        >
                                                        <div class="mx-5">
                                                            <p class="text-dark">
                                                                <%= address[i].address1%> <%= address[i].address2%> <%= address[i].city%> <%= address[i].pin%>
                                                                  </p>
                                                            <p>
                                                                <%=address[i].pincode%>, <%=address[i].country%>
                                                            </p>
                                                        </div>
                                                </div>
                                            </label>
                                            
                                            
                                            <%}%>
                                        
                                        
                                            <%}else{%>
                                                <div class=" text-center w-100 card">
                                                    <h6 class="mt-2 ">You have no shipping Address</h6>
                                                    <p class="">Kindly add a shipping address to proceed.</p>
                                                    <button type="button"
                                                        class="btn btn-outline-primary-2 mx-auto  mt-1 "
                                                        onclick="showAddress()" id="flexRadioDefault1"
                                                        style="border-radius: 0px; font-size: 13px; width: 30rem;"> +
                                                        Add a new
                                                        address</button>
                                                </div>
                                                <%}%>
                                                <%if(address!=0){%>
                                                    <label class="p-3 border rounded-4 m-2 custom-label">
                                                <div class="form-check d-flex align-items-center mx-4">
                                                    <input class="form-check-input " type="radio" name="address" onclick="showAddress()" id="flexRadioDefault1">
                                                        
                                
                                                        <div class="mx-5">
                                                            Add new address
                                                        </div>
                                                </div>
                                            </label>
                                                <%}%>

                            <!-- add new address section set to display none. can be made visible by calling showAddress() when clicking add new address -->
                                                <div class="newAddress" id="addressToggle" style="display: none;">
                                                    <div class="mb-3" >
                                                    <label for="floatingInput">address line 1</label>
                                                    <input type="text" name="address1" class="form-control" required>
                                                    </div>
                                                    <div class="mb-3">
                                                    <label for="floatingInput">address line 2</label>
                                                        <input type="text" name="address2" class="form-control" >
                                                    </div>
                                                    <div class="mb-3">
                                                    <label for="floatingInput">address line 3</label>
                                                        <input type="text" name="address3" class="form-control" >
                                                    </div>
                                                    <div class="mb-3">
                                                    <label for="floatingInput">country</label>
                                                        <input type="text" name="country" class="form-control"  required>
                                                    </div>
                                                    <div class="mb-3 d-flex flex-row" >
                                                        <input type="text" name="city" class="form-control"  placeholder="city" required>
                                                        <input type="text" name="county" class="form-control"  placeholder="county" required>
                                                        <input type="number" name="pin" class="form-control"  placeholder="pin" required>
                                                    </div>
                                                
                                                </div>


                                                    <hr>
                                                <!-- paypent selection COD/PAYPAL -->
                                                    <div class=" py-4  mt-2  "
                                                        style="border-radius: 10px; background: #F3F3F9;">
                                                        <div class="form-check d-flex align-items-center mx-4 ">
                                                            <h5>2. Payment method</h5>
                                                        </div>
                                                        <div class="form-check py-4 mx-5">
                                                                <input class="form-check-input" type="radio" name="paymentType" value="paypal"  id="flexRadioDefault1">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                PayPal
                                                                </label>
                                                        </div>
                                                        <div class="form-check py-4 mx-5">
                                                                <input class="form-check-input" type="radio" name="paymentType" value="cod" onclick="hideCard()" id="flexRadioDefault2" checked>
                                                                <label class="form-check-label" for="flexRadioDefault2">
                                                                COD
                                                                </label>
                                                        </div>
                                                    </div>
                                                    

                            </div>

                            <!-- right side contains coupon and checkout options -->
                            <aside class="col-lg-3">
                                <div class="summary summary-cart">
                                    

                     
                                    <h3 class="summary-title"></h3>

                                    <div class="d-flex justify-content-center">
                                        <input id="couponid" name="couponCode" type="text" class="mb-3 rounded" onkeyup="this.value = this.value.toUpperCase()" > 
                                    </div>
                                    
                                        <button onclick="applyCoupon()" id="couponSubmit" type="button" class="btn btn-outline-primary-2  btn-block py-3"
                                            style="background-color: #000; color: #fff; "
                                            onMouseOver="this.style.background='#575757'"
                                            onMouseOut="this.style.background='#000'">Apply coupon
                                        </button >
                                            
                                    <p id="errorMessage" style="color: red;"></p>

                                    <!-- <button class="btn btn-outline-primary-2 btn-order btn-block ">Use This
                                        Address</button> -->
                                </div><!-- End .summary -->
                                <div class="summary summary-cart">
                                    
                                    <button id="addressSubmitBtn" type="submit" class="btn btn-outline-primary-2  btn-block py-3"
                                        style="background-color: #000; color: #fff; "
                                        onMouseOver="this.style.background='#575757'"
                                        onMouseOut="this.style.background='#000'">Checkout</button>
                                       

                                    </form>
                                    <h3 class="summary-title"></h3>

                                    <table class="table table-summary">
                                        <tbody>

                                            <tr class="summary-subtotal">
                                                <td>Subtotal:</td>
                                                <td>₹<span id="subTotalDisplay">
                                                        <%= total%>
                                                    </span></td>
                                            </tr><!-- End .summary-subtotal -->




                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <label class="" for="standart-shipping">Discount:</label>
                                                </td>
                                                <td id="discountDisplay">0.00</td>
                                            </tr><!-- End .summary-shipping-row -->





                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>₹<span id="totalDisplay">
                                                        <%= total%>
                                                    </span></td>
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <!-- <button class="btn btn-outline-primary-2 btn-order btn-block ">Use This
                                        Address</button> -->
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



        <script>

            setTimeout(function() {
                const flashMessage = document.getElementById('flashMessage')
                if (flashMessage) {
                    flashMessage.style.display = 'none';
                }
            }, 3000);

            function showAddress(){
                console.log("show");
                let card = document.getElementById("addressToggle")
                card.style.display = "block"
                let inputs = card.getElementsByTagName('input');
                // Loop through the inputs and set them as required
                for(let i = 0; i < inputs.length; i++){
                    inputs[i].required = true;
                }
            }
          
        function hideAddress(){
            console.log("hide");
            let card = document.getElementById("addressToggle");
            card.style.display = "none";
            let inputs = card.getElementsByTagName('input');
            // Loop through the inputs and set them as required
            for(let i = 0; i < inputs.length; i++){
                inputs[i].required = false;
            }
        }
        

        async function applyCoupon() {
            let couponCode = document.getElementById("couponid").value;
            let applyBtn = document.getElementById("couponSubmit")
            let totalDisplay = document.getElementById("totalDisplay")
            let discountDisplay = document.getElementById("discountDisplay")
            let errorMessage = document.getElementById("errorMessage")
            console.log(couponCode);
            console.log(applyBtn.innerText);
            console.log(totalDisplay.innerText);
            console.log(discountDisplay.innerText);
            console.log(errorMessage.innerText);


            if(applyBtn.innerText=="Apply coupon"){
                try {
                    let response = await fetch("/home/cart/checkout", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            data: couponCode,
                            action: "apply"
                        })
                    });
                    if (response.ok) {
                        console.log("response ok");
                        let data = await response.json();
                        if(data.valid){
                            discountDisplay.innerText = data.discountDisplay;
                            totalDisplay.innerText =  data.discountedPrice
                            errorMessage.innerHTML = ""
                        }
                        else{
                            console.log("response not ok");
                            couponCode = ""; 
                            errorMessage.innerText = data.message
                        }

                        console.log(data); // Process the response data as needed
                    } else {
                        console.error('Network response was not ok.');
                    }
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
                applyBtn.innerText = "Clear coupon"
            }
            else if(applyBtn.innerText == "Clear coupon"){
                    if(discountDisplay.innerText>0){
                       let response = await fetch("/home/cart/checkout",{
                            method: "POST",
                            headers : {
                                "Content-Type" : "application/json"
                            },
                            body: JSON.stringify({
                                data: couponCode,
                                action: "remove"
                            })
                        });
                        if(response.ok){
                            let data = await response.json()
                            discountDisplay.innerText = data.discountDisplay;
                            totalDisplay.innerText =  data.discountedPrice
                            errorMessage.innerHTML = ""
                        }
                    }
                
                    applyBtn.innerText = "Apply coupon"
                    errorMessage.innerText = ""
                    document.getElementById("couponid").value = "";  // Clear input field
                }            
            
        
        }

        </script>

        <%- include('../user/layouts/footer.ejs') %>