<%- include('../user/layouts/header.ejs') %>
    <%- include('../user/layouts/navbar.ejs') %>
        <main class="main">
            <div class="page-header text-center" style="background-image: url('/user/images/background.png')">
                <div class="container">
                    <h1 class="page-title text-white"><i class="fa-thin fa-wallet"></i> My Wallet</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="container my-5">
                <div class="col-12 row p-5">

                    <div class="col-lg-6 col-12">

                        <div class="card  wallet-card m-auto">
                            <div class="card-body text-white m-5  col-12 row ">
                                <div class="col-9 mt-3">
                                    <span class="text-uppercase"><%=userData.firstname%></span> 
                                    <% function formatNumber(input) {
                                        if (input && typeof input === 'string') {
                                          return input.replace(/(\d{4})(?=\d)/g, '$1 ');
                                        }
                                        return input;
                                      } 
                                      var walletIdNumber = formatNumber(wallet._id)
                                      %>
                                    <h6 class=" text-white mt-0" style="font-size: 24px;"><span class=""><%=walletIdNumber%></span>
                                    </h6>

                                </div>
                                <div class="col-3 d-flex justify-content-center mt-4">
                                    <h6 class="text-white " style="font-size: 25px;"><i class="fa-light fa-wifi fa-rotate-90"></i>
                                    </h6>
                                </div>

                                <div class="col-7 d-flex  align-items-end">
                                    <h4 class="text-light pb-1">Wallet Balance</h4>
                                </div>
                                <div class="col-5 d-flex  align-items-end">
                                    <h2 class="text-white">₹ <%= wallet.balance%></h2>
                                 
                                      
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="w-100 mt-2">
                            <p style="font-size: 22px;"><i class="fa-duotone fa-money-check-dollar-pen"></i> Transaction
                                History</p>
                            <hr my-0>
                            <!-- table-wrapper-scroll-y my-custom-scrollbar -->
                            <%if(history.length!=0){%>
                        <div class="my-custom-scrollbar" style="max-height: 600px; overflow: auto;">

                            <table class="table " >
                                <thead class="table-light ">
                                    <tr>
                                        <th>Purpose</th>
                                        <th>Amount</th>
                                        <th>method</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <p><%  %></p>
                                    <%for(i=history.length-1;i>=0;i--){%>
                                        
                                        
                                </tr>
                                    <td> <%=history[i].method%></td>
                                    <td style="font-weight: 500;">&euro; <%=history[i].amount%></td>
                                    <td><%= history[i].paymentType %></td>
                                    
                                    <td><%=history[i].createdAt.toISOString().slice(0,10) %></td>
                                    <td  >
                                        
                                        <p class="btn-success text-center" style="border-radius: 0.4rem;">success</p>
                                    </td>
                                </tr>
                                <%}%>
                                
                                

                                </tbody>
                            </table>
                        </div>

                            <%}else{%>
                                <p class="text-center"><i class="fa-light fa-money-check-dollar"></i> You have no Transaction</p>
                            <%}%>    
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <script>
          
        </script>
        <%- include('../user/layouts/footer.ejs') %>